<form id="form-add-business" data-type="grid" data-columns="2">
    <label class="fullWidth">
        <b>Alias</b>
        <span><select id="member" required class="clip-members business-members"></select></span>
    </label>
    <label>
        <b>Business Name</b>
        <span><input type="text" id="employer" placeholder="Business Name" required=""></span>
    </label>
    <label>
        <b>Category</b>
        <span><select id="category" required>
            <option value="">(select)</option>
            <option value="edu">Education</option>
            <option value="entertain">Entertainment</option>
            <option value="food">Food & Drink</option>
            <option value="gov">Healthcare</option>
            <option value="gov">Hospitality</option>
            <option value="gov">Law Enforcement</option>
            <option value="gov">Media</option>
            <option value="gov">Public Service</option>
            <option value="shop">Retail</option>
            <option value="serve">Trades & Services</option>
            <option value="misc">Miscellaneous</option>
        </select></span>
    </label>
    <label>
        <b>Location</b>
        <span><select id="location" required>
            <option value="">(select)</option>
            <optgroup label="Downtown Elysium">
                <option value="52">Elysium Waterfront</option>
                <option value="54">Harbour Bazaar</option>
                <option value="53">Main Street</option>
                <option value="47">Downtown Area</option>
            </optgroup>
            <optgroup label="Elysium Quarters">
                <option value="48">Greek Quarter</option>
                <option value="49">Roman Quarter</option>
                <option value="50">Norse Quarter</option>
                <option value="51">Egyptian Quarter</option>
                <option value="67">Remnant Quarter</option>
            </optgroup>
            <optgroup label="Elysium Districts">
                <option value="57">Art District</option>
                <option value="60">Industrial District</option>
                <option value="63">Trade District</option>
                <option value="66">Entertainment District</option>
            </optgroup>
            <optgroup label="Beyond Elysium">
                <option value="71">Elysium Outskirts</option>
                <option value="43">Outside of Elysium</option>
            </optgroup>
        </select></span>
    </label>
    <label>
        <b>Hiring?</b>
        <span><select id="hiring" required>
            <option value="">(select)</option>
            <option value="yes">Yes</option>
            <option value="ask first">Ask First</option>
            <option value="no">No</option>
        </select></span>
    </label>
    <label class="fullWidth">
        <b>Summary</b>
        <span><textarea id="summary" placeholder="Overview of the business; maximum 350 characters" required="" maxlength="350"></textarea></span>
    </label>
    <label class="fullWidth">
        <b>Related Wanted Ad</b>
        <span><input type="text" id="wanted" placeholder="URL (optional)"></span>
    </label>
    <label class="fullWidth">
        <b>Type of Opening Hours</b>
        <span><select id="hours" required>
            <option value="">(select)</option>
            <option value="set hours">Set Hours</option>
            <option value="by appointment">By Appointment</option>
            <option value="no set hours">No Set Hours / Not Open to the Public</option>
        </select></span>
    </label>
    <label class="fullWidth adjustable ifSetHours hidden">
        <b>Hours</b>
        <div class="rows hours-wrap"></div>
        <div class="multi-buttons" data-row-type="hours">
            <button type="button" onclick="addRow(this)">+ New Row</button>
            <button type="button" onclick="removeRow(this)">- Remove Row</button>
        </div>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>