<form id="form-location" data-type="grid" data-columns="2">
    <label class="fullWidth">
        <b>Name</b>
        <span><input type="text" id="location" placeholder="Location Name" required /></span>
    </label>
    <label>
        <b>Forum Name</b>
        <span><input type="text" id="forum" placeholder="Forum Name" required /></span>
    </label>
    <label>
        <b>Forum ID</b>
        <span><input type="text" id="forumid" placeholder="Forum ID" required /></span>
    </label>
    <label class="fullWidth">
        <b>About</b>
        <span><textarea id="about" placeholder="Single paragraph, ideally" required></textarea></span>
    </label>
    <label class="fullWidth">
        <b>Image</b>
        <span><input type="text" id="image" placeholder="Image URL" required /></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>