<div class="accordion" style="margin-bottom: var(--space-lg);">
    <div class="accordion--trigger h7">Heads up!</div>
    <div class="accordion--content"><div class="accordion--inner">
    <p>Please note that if you use any of the following extensions in Chrome (possibly in other browsers as well), you must disable them for the form to complete all of its functions correctly:</p>
    <ul><li>Privacy Badger</li>
    <li>UBlock</li>
    <li>Potentially AdBlock (Plus Only)</li></ul>
    </div></div>
    </div>
    
    <form id="form-sort" data-type="grid" data-columns="2">
        <h3 class="fullWidth">Basic Information</h3>
        <label class="fullWidth">
            <b>Alias</b>
            <span><select id="member" required class="clip-members"></select></span>
        </label>
        <label>
            <b>Character</b>
            <span><input type="text" id="character" placeholder="Character name" required></span>
        <i>If submitting a deity, please use only their name (e.g., "Zeus")</i>
        </label>
        <label>
            <b>Character Profile</b>
            <span><input type="text" id="accountid" placeholder="URL or ID" required></span>
        </label>
        <label>
            <b>Group</b>
            <span><select id="group" required>
                <option value="">(select)</option>
                <optgroup label="Free">
                    <option value="8">Columba</option>
                    <option value="10">Crater</option>
                    <option value="11">Delphinus</option>
                    <option value="14">Lupus</option>
                    <option value="16">Norma</option>
                    <option value="17">Pictor</option>
                </optgroup>
                <optgroup label="Premium">
                    <option value="7">Apus</option>
                    <option value="9">Corvus</option>
                    <option value="12">Draco</option>
                    <option value="13">Fornax</option>
                    <option value="15">Lyra</option>
                    <option value="18">Pyxis</option>
                </optgroup>
            </select></span>
        </label>
        <label>
            <b>Face</b>
            <span><input type="text" id="face" placeholder="Face claim" required></span>
        </label>
        <label class="fullWidth">
            <b>Ancestry</b>
            <span><select id="ancestry" required>
                <option value="">(select)</option>
                <option value="deity">Deity</option>
                <option value="hero">Hero</option>
                <option value="creature">Creature</option>
                <option value="mortal">Mortal</option>
            </select></span>
        </label>
        <label class="ifDeity hidden">
            <b>Pantheon</b>
            <span><input type="text" id="pantheon" placeholder="Pantheon"></span>
        </label>
        <label class="ifDeity hidden">
            <b>Domain</b>
            <span><input type="text" id="domain" placeholder="Domain"></span>
        </label>
        <label class="ifHero hidden">
            <b>Parent</b>
            <span><input type="text" id="parent" placeholder="Parent"></span>
        <i>Please use only the deity's name (e.g., "Zeus")</i>
        </label>
        <label class="ifHero hidden">
            <b>Gift(s)</b>
            <span><input type="text" id="gifts" placeholder="Gift(s)"></span>
        </label>
        <label class="fullWidth ifCreature hidden">
            <b>Class</b>
            <span><select id="creatureType">
                <option value="">(select)</option>
                <option value="beast">Beast</option>
                <option value="spirit">Spirit</option>
            </select></span>
        </label>
        <label class="ifBeast hidden">
            <b>Species</b>
            <span><select id="species" class="clip-species"></select></span>
        </label>
        <label class="ifBeast hidden">
            <b>Subspecies</b>
            <span><select id="subspecies" class="clip-subspecies"></select></span>
        </label>
        <label class="ifSpirit hidden">
            <b>Element</b>
            <span><select id="element" class="clip-elements"></select></span>
        </label>
        <label class="ifSpirit hidden">
            <b>Subtype</b>
            <span><select id="subtype" class="clip-subtypes"></select></span>
        </label>
        <label class="ifMortal hidden">
            <b>Denomination</b>
            <span><input type="text" id="denomination" placeholder="Denomination"></span>
        <i>Please use "non-worshipping" if they do not worship a pantheon.</i>
        </label>
        <label class="ifMortal hidden">
            <b>Patron Deity</b>
            <span><input type="text" id="patron" placeholder="Patron Deity"></span>
        <i>Please leave blank if they do not worship a pantheon.</i>
        </label>
        <label class="fullWidth">
            <b>Is this a reincarnation?</b>
            <span><select id="exclusivity" required>
                <option value="n">No</option>
                <option value="y">Yes</option>
            </select></span>
        </label>
        <label class="ifReincarnation hidden">
            <b>Name of Reincarnation</b>
            <span><input type="text" id="reincarnation" placeholder="Reincarnation"></span>
        </label>
        <h3 class="fullWidth">Employment</h3>
        <label class="fullWidth adjustable">
            <b>Jobs</b>
            <div class="rows jobs-wrap"></div>
            <div class="multi-buttons" data-row-type="jobs">
                <button type="button" onclick="addRow(this)">+ New Row</button>
                <button type="button" onclick="removeRow(this)">- Remove Row</button>
            </div>
        </label>
        <h3 class="fullWidth">Subplots</h3>
        <i class="fullWidth ifBeast hidden"><u>Note:</u> all fae should be part of "The Fair Folk" subplot.</i>
        <label class="fullWidth adjustable">
            <b>Roles</b>
            <div class="rows roles-wrap"></div>
            <div class="multi-buttons" data-row-type="roles">
                <button type="button" onclick="addRow(this)">+ New Row</button>
                <button type="button" onclick="removeRow(this)">- Remove Row</button>
            </div>
        </label>
        <h3 class="fullWidth">Canons and Requests</h3>
        <label class="fullWidth">
            <b>Is this character a canon?</b>
            <span><select id="canonreq" required>
                <option value="">(select)</option>
                <option value="y">Yes</option>
                <option value="n">No</option>
            </select></span>
        </label>
        <label class="fullWidth ifCanon hidden">
            <b>Canon</b>
            <span><select id="canon" class="clip-canons"></select></span>
        </label>
        <label class="fullWidth">
            <b>Is this character connected to another and/or for a request?</b>
            <span><select id="requested" required>
                <option value="">(select)</option>
                <option value="y">Yes</option>
                <option value="n">No</option>
            </select></span>
        </label>
        <label class="hidden ifRequest fullWidth">
            <b>Request Details</b>
            <span><textarea id="request" placeholder="Name of requester and/or URL to wanted ad"></textarea></span>
        </label>
        <button type="submit" id="submit" class="fullWidth">Submit</button>
    </form>