@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Global
********************************/
body {
    padding: calc(var(--size-menu-main) + var(--size-menu-breadcrumbs)) 0 0 0;
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--text-size-md);

    &:has(.nav--popout.fullHeight.is-open) {
        overflow: hidden;
    }
    &.parent-0 .notParent {
        display: none;
    }
    &:not(.parent-0) .parentOnly {
        display: none;
    }
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    @include texture;
    background-color: var(--bg-primary);
    --opacity-texture: var(--opacity-texture-primary);
    --blend-texture: var(--blend-texture-primary);
}

.scroll {
    &:not(.accent) {
        @include scroll(normal);
    }

    &.accent {
        @include scroll(accent);
    }
}

.macro {
    &--button {
        &[onclick] {
            cursor: pointer;

            .is-open > & {
                .open-button {
                    display: none;
                }
            }

            *:not(.is-open) > & {
                .close-button {
                    display: none;
                }
                & + tag-labels,
                & ~ .accordion {
                    display: none;
                }
            }
        }
    }
}

tag-tabset {
    display: flex;
    overflow: hidden;

    & > tag-tab {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        transition-duration: var(--transition-tab-duration);
    }
}
tag-labels {
    display: flex;
    flex-direction: column;

    .tab-category.accordion--content {
        &:not(:last-child) {
            margin-bottom: var(--space-lg);
        }

        &.is-active {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
        }
    }
}
.accordion {
    &--trigger {
        cursor: pointer;
    }
    
    &--content {
        &:not(.is-active) {
            display: none;
        }
    }
}

.invisibleElTagging {
    &.menu-open + .alert-options .fa-tags,
    &:not(.menu-open) + .alert-options .fa-xmark {
        display: none;
    }
}
.invisibleElTagging,
.invisibleEl {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--bg-overlay);
    transition-duration: var(--transition-tab-duration);

    &.menu-open {
        height: 100vh;
        z-index: 3;
    }
}
.alert-select {
    display: none;
    position: absolute;
    top: calc(100% + 11px + var(--space-sm));
    right: 0;
    z-index: 5;
    background: white;
    gap: var(--space-md);
    padding: var(--space-md);
    max-width: 500px;
    text-align: left;

    @include mq-up(xs) {
        grid-template-columns: repeat(3, 1fr);
        width: calc(100vw - 35px);
    }

    &.is-open {
        display: grid;
    }

    .alert-section {
        .scroll {
            max-height: var(--size-alert-max-height);
        }

        .input-wrap {
            &:not(:last-child) {
                margin-bottom: var(--space-xs);
            }

            .fancy-input {
                &::before {
                    font-family: 'Font Awesome 6 Pro';
                }
            }
        }

        label {
            cursor: pointer;
        }

        hr {
            border: 0;
            border-top: 1px solid black;
            margin: var(--space-sm) 0;
        }
    }

    input[type="button"] {
        grid-column: 1 / -1;
        cursor: pointer;
        margin: 0 auto;
    }
}

.items {
    display: grid;
    gap: var(--space-lg);

    &--item {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        & > b {
            font-family: var(--font-sans-narrow);
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: var(--text-secondary);
            display: flex;
            align-items: center;
            gap: var(--space-sm);
            border-bottom: var(--border-accent-low);
            padding: 0 var(--space-lg) var(--space-xs) var(--space-xs);
            max-width: 100%;
            width: max-content;

            &::before {
                height: 1px;
                display: flex;
                background: var(--text-accent);
                color: var(--text-accent);
                font-family: 'Font Awesome 7 Sharp';
                font-weight: 300;
                align-items: center;
                justify-content: center;
                width: var(--space-lg);
                padding-left: 3px;

                @include mq-down(xxs) {
                    display: none;
                }
            }
        }

        & > span {
            font-size: calc(var(--text-size-md) + 1px);
            line-height: 200%;
        }

        &:has(lang-clip) {
            & > span {
                gap: var(--space-md);
            }
            
            span {
                display: flex;

                u {
                    border: var(--border-accent-mid);
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    margin-right: var(--space-sm);
                    font-weight: 900;
                    font-family: var(--font-serif);
                    background: var(--bg-accent-low);
                    color: var(--text-secondary);
                }
            }
        }
    }
}

.relationships {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);

    @include mq-up(sm) {
        grid-template-columns: 1fr 1fr;
    }

    @include mq-up(md) {
        grid-template-columns: 1fr;
    }
}
tag-relheader {
    grid-column: 1 / -1;
    @include header(5, var(--text-accent));
}
tag-rel {
    margin-bottom: var(--space-sm);

    & > b,
    & > a {
        @include header(7, var(--text-accent));
    }

    & > span {
        text-align: justify;
    }
}

.accordion {
    &--trigger {
        display: flex;
        gap: var(--space-md);
        
        &::before {
            font-family: 'Font Awesome 7 Sharp';
            color: var(--text-accent);
            font-weight: 300;
            font-size: 0.8em;
            display: flex;
            height: 100%;
            aspect-ratio: 1 / -1;
            align-items: center;
            justify-content: center;
        }
    }
    &--content {
        & + .accordion--trigger {
            margin-top: var(--space-md);
        }

        &:has(.accordion--inner) {
            display: grid;
            grid-template-rows: 0fr;
            transition: var(--transition-standard);

            &.is-active {
                grid-template-rows: 1fr;
            }
        }
    }
    &--inner {
        overflow: hidden;
    }
}

.awards {
    display: flex;
    flex-wrap: wrap;

    img {
        width: calc(24px + var(--space-xs));
        height: calc(24px + var(--space-xs));
        object-fit: contain;
        object-position: center;
        padding: calc(var(--space-xs) / 2);
    }
}