@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Typography
********************************/
h2,
.h2 {
    &:not(.serif) {
        @include header(2, var(--text-accent));
    }

    &.serif {
        @include header(2, var(--text-accent), serif);
    }
}
h3,
.h3 {
    @include header(3, var(--text-accent));
}
h4,
.h4 {
    @include header(4, var(--text-accent));
}
h5,
.h5 {
    &:not(.serif) {
        @include header(5, var(--text-accent));
    }

    &.serif {
        @include header(5, var(--text-accent), serif);
    }
}
h6,
.h6 {
    @include header(6, var(--text-accent));
}
h7,
.h7 {
    @include header(7, var(--text-accent));
}
h8,
.h8 {
    @include header(8, var(--text-accent));
}

ul {
    padding: 0 0 0 16px;
    margin: 0;

    li {
        padding-left: var(--space-sm);
        margin-bottom: var(--space-sm);
        line-height: 200%;

        &::marker {
            color: var(--bg-accent);
            font-family: 'Font Awesome 7 Sharp';
            font-weight: 300;
        }
    }
}

blockquote {
    border: var(--border-accent-mid);
    background: var(--bg-accent-low);
    text-align: justify;
    padding: var(--space-lg);
    max-width: 500px;
    margin: 1rem auto;
}