@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Variables
********************************/
:root {
    --text-size-xs: 9px;
    --text-size-sm: 11px;
    --text-size-md: 13px;
    --text-size-lg: 15px;
    --text-size-xl: 17px;

    --font-serif: "Playfair Display", serif;
    --font-sans: "PT Sans", sans-serif;
    --font-sans-narrow: "PT Sans Narrow", sans-serif;

    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 30px;
    --space-xl: 60px;

    --transition-quick: all 0.1s ease-in-out;
    --transition-standard: all 0.3s ease-in-out;
    --transition-long: all 0.5s ease-in-out;

    --bg-texture: url(https://files.jcink.net/uploads2/idolsandichor/Skin1/idolsAndIchor_bg_min.jpg);

    --size-max-popout-width: 350px;
    --size-alert-max-height: 80px;
    --size-menu-main: 50px;
    --size-menu-breadcrumbs: 30px;
    --size-store-image: 24px;
    --size-switcher-image: 50px;
    --size-page-menu-width: 300px;
    --size-ucp-menu-height: 62px;
    --size-mini-profile-width: 200px;

    @include mq-up(xs) {
        --size-alert-max-height: 150px;
    }

    @include mq-up(md) {
        --size-mini-profile-width: 300px;
    }
    
    --accent: rgba(220, 105, 102, 0.65);
    --accent-filter: invert(57%) sepia(7%) saturate(4856%) hue-rotate(315deg) brightness(96%) contrast(78%);


    //remove eventually - color storage
    --xBlack: rgba(26, 25, 24, 1);
    --black: rgba(40, 39, 38, 1);
    --dkBeige: rgba(115, 111, 108, 1);
    --beige: rgba(189, 179, 176, 1);


    //dark is default
    --bg-primary: rgba(26, 25, 24, 1);
    --bg-secondary-solid: rgba(40, 39, 38, 1);
    --bg-secondary: rgba(40, 39, 38, 0.9);
    --bg-secondary-mid: rgba(40, 39, 38, 0.5);
    --bg-tertiary: rgba(53, 51, 51, 0.9);
    --bg-tertiary-mid: rgba(53, 51, 51, 0.4);
    --bg-overlay: rgba(26, 25, 24, 0.7);
    
    --blend-texture-primary: color-dodge;
    --opacity-texture-primary: 0.5;
    --opacity-pattern: 0.7;

    --text-primary: rgb(185, 185, 185);
    --text-secondary: rgb(235, 235, 235);

    --border-primary: 1px solid rgba(232, 231, 229, 0.15);
    --border-primary-color: rgba(232, 231, 229, 0.15);
    --border-primary-color-strong: rgba(232, 231, 229, 0.3);

    --map-roads: rgb(111, 111, 111);
    --map-bg: rgb(72, 72, 72);
    --map-water: rgb(71, 91, 101);
    --map-downtown: rgba(235, 205, 149, 0.5);
    --map-norse: rgba(84, 149, 188, 0.5);
    --map-egypt: rgba(198, 115, 205, 0.5);
    --map-roman: rgba(214, 116, 58, 0.5);
    --map-greek: rgba(126, 165, 150, 0.5);
    --map-remnant: rgba(91, 131, 87, 0.5);
    --map-stroke: rgb(190, 190, 190);
    --map-unselected: rgba(255, 255, 255, 0.1);
    --map-text: rgb(235, 235, 235);
}

body {
    &.lgFont {
        --text-size-xs: 10px;
        --text-size-sm: 12px;
        --text-size-md: 14px;
        --text-size-lg: 16px;
        --text-size-xl: 18px;
    }
    &.xlFont {
        --text-size-xs: 12px;
        --text-size-sm: 14px;
        --text-size-md: 16px;
        --text-size-lg: 18px;
        --text-size-xl: 20px;
    }
    &.light {
        --bg-primary: rgb(214, 209, 201);
        --bg-secondary-solid: rgb(206, 200, 193, 1);
        --bg-secondary: rgb(206, 200, 193, 0.9);
        --bg-secondary-mid: rgba(206, 200, 193, 0.5);
        --bg-tertiary: rgba(220, 215, 209, 0.9);
        --bg-tertiary-mid: rgba(220, 215, 209, 0.4);
        --bg-overlay: rgba(214, 209, 201, 0.7);

        --blend-texture-primary: soft-light;
        --opacity-texture-primary: 0.5;
        --opacity-pattern: 1;

        --text-primary: rgb(88, 86, 84);
        --text-secondary: rgb(40, 39, 38);

        --border-primary: 1px solid rgba(101, 98, 94, 0.5);
        --border-primary-color: rgba(101, 98, 94, 0.5);
        --border-primary-color-strong: rgba(101, 98, 94, 0.5);

        --map-roads: rgb(205, 205, 205);
        --map-bg: rgb(175, 175, 175);
        --map-water: rgb(152, 169, 177);
        --map-downtown: rgba(235, 205, 149, 0.5);
        --map-norse: rgba(84, 149, 188, 0.5);
        --map-egypt: rgba(198, 115, 205, 0.5);
        --map-roman: rgba(214, 116, 58, 0.5);
        --map-greek: rgba(126, 165, 150, 0.5);
        --map-remnant: rgba(91, 131, 87, 0.5);
        --map-stroke: rgb(107, 107, 107);
        --map-unselected: rgba(0, 0, 0, 0.15);
        --map-text: rgb(235, 235, 235);
    }

    //Set up
    &[class*="g-"],
    [class*="g-"],
    &[class*="mgroup-"],
    [class*="mgroup-"],
    &:has(.profile[class*="g-"]) {
        --accent: rgb(var(--rgb));
        --accent-90: rgba(var(--rgb), 0.9);
        --accent-80: rgba(var(--rgb), 0.8);
        --accent-70: rgba(var(--rgb), 0.7);
        --accent-60: rgba(var(--rgb), 0.6);
        --accent-50: rgba(var(--rgb), 0.5);
        --accent-40: rgba(var(--rgb), 0.4);
        --accent-30: rgba(var(--rgb), 0.3);
        --accent-20: rgba(var(--rgb), 0.2);
        --accent-10: rgba(var(--rgb), 0.1);

        --bg-accent: var(--accent);
        --bg-accent-high: var(--accent-80);
        --bg-accent-mid: var(--accent-50);
        --bg-accent-low: var(--accent-30);
        
        --text-accent: rgba(var(--rgb), var(--text-opacity, 0.7));
        --text-accent-strong: var(--accent);
        --text-on-accent: rgb(225, 225, 225);
        
        --border-accent: 1px solid var(--accent);
        --border-accent-high: 1px solid var(--accent-80);
        --border-accent-mid: 1px solid var(--accent-50);
        --border-accent-low: 1px solid var(--accent-30);
    }
    &.light {
        &[class*="g-"],
        [class*="g-"],
        &[class*="mgroup-"],
        [class*="mgroup-"],
        &:has(.profile[class*="g-"]) {
            --text-accent: var(--accent);
        }
    }

    /* Filter generator: https://codepen.io/sosuke/pen/Pjoqqp */

    //Banned/Validating
    &.g-1,
    .g-1,
    &.mgroup-1,
    .mgroup-1,
    &.g-5,
    .g-5,
    &.mgroup-5,
    .mgroup-5 {
        --rgb: 105, 105, 105;
        --rgb-filter: invert(40%) sepia(10%) saturate(0%) hue-rotate(227deg) brightness(96%) contrast(80%);
    }

    //General
    &.g-2,
    .g-2,
    &.mgroup-2,
    .mgroup-2,
    &.g-3,
    .g-3,
    &.mgroup-3,
    .mgroup-3,
    &.g-4,
    .g-4,
    &.mgroup-4,
    .mgroup-4,
    &.g-6,
    .g-6,
    &.mgroup-6,
    .mgroup-6,
    &.g-19,
    .g-19,
    &.mgroup-19,
    .mgroup-19 {
        --rgb: 220, 105, 102;
        --rgb-filter: invert(57%) sepia(7%) saturate(4856%) hue-rotate(315deg) brightness(96%) contrast(78%);
    }

    /***** Free *****/
    //Columba
    &.g-8,
    .g-8,
    &.mgroup-8,
    .mgroup-8 {
        --rgb: 126, 165, 150;
        --rgb-filter: invert(67%) sepia(20%) saturate(354%) hue-rotate(105deg) brightness(89%) contrast(92%);
    }
    //Crater
    &.g-10,
    .g-10,
    &.mgroup-10,
    .mgroup-10 {
        --rgb: 235, 205, 149;
        --rgb-filter: invert(87%) sepia(30%) saturate(521%) hue-rotate(338deg) brightness(98%) contrast(88%);
    }
    &.light {
        &.g-10,
        .g-10,
        &.mgroup-10,
        .mgroup-10 {
            --rgb: 190, 160, 103;
            --rgb-filter: invert(69%) sepia(44%) saturate(378%) hue-rotate(1deg) brightness(88%) contrast(81%);
        }
    }
    //Delphinus
    &.g-11,
    .g-11,
    &.mgroup-11,
    .mgroup-11 {
        --rgb: 91, 131, 87;
        --rgb-filter: invert(45%) sepia(48%) saturate(311%) hue-rotate(67deg) brightness(93%) contrast(87%);
    }
    //Lupus
    &.g-14,
    .g-14,
    &.mgroup-14,
    .mgroup-14 {
        --rgb: 198, 115, 205;
        --rgb-filter: invert(71%) sepia(22%) saturate(7257%) hue-rotate(234deg) brightness(90%) contrast(76%);
    }
    //Norma
    &.g-16,
    .g-16,
    &.mgroup-16,
    .mgroup-16 {
        --rgb: 84, 149, 188;
        --rgb-filter: invert(57%) sepia(33%) saturate(612%) hue-rotate(159deg) brightness(90%) contrast(91%);
    }
    //Pictor
    &.g-17,
    .g-17,
    &.mgroup-17,
    .mgroup-17 {
        --rgb: 214, 116, 58;
        --rgb-filter: invert(48%) sepia(100%) saturate(419%) hue-rotate(336deg) brightness(91%) contrast(83%);
    }
    //Andromeda
    &.g-20,
    .g-20,
    &.mgroup-20,
    .mgroup-20 {
        --rgb: 116, 119, 126;
        --rgb-filter: invert(47%) sepia(7%) saturate(338%) hue-rotate(184deg) brightness(96%) contrast(85%);
    }
    //Circinus
    &.g-21,
    .g-21,
    &.mgroup-21,
    .mgroup-21 {
        --rgb: 182, 133, 90;
        --rgb-filter: invert(59%) sepia(16%) saturate(1101%) hue-rotate(346deg) brightness(92%) contrast(86%);
    }
    //Lepus
    &.g-22,
    .g-22,
    &.mgroup-22,
    .mgroup-22 {
        --rgb: 44, 122, 96;
        --rgb-filter: invert(38%) sepia(70%) saturate(324%) hue-rotate(109deg) brightness(92%) contrast(95%);
    }
    //Serpens
    &.g-24,
    .g-24,
    &.mgroup-24,
    .mgroup-24 {
        --rgb: 118, 131, 115;
        --rgb-filter: invert(51%) sepia(10%) saturate(444%) hue-rotate(63deg) brightness(95%) contrast(85%);
    }

    /***** Premium *****/
    //Apus
    &.g-7,
    .g-7,
    &.mgroup-7,
    .mgroup-7 {
        --rgb: 237, 96, 195;
        --rgb-filter: invert(59%) sepia(44%) saturate(3074%) hue-rotate(286deg) brightness(97%) contrast(91%);
    }
    //Corvus
    &.g-9,
    .g-9,
    &.mgroup-9,
    .mgroup-9 {
        --rgb: 130, 113, 137;
        --rgb-filter: invert(50%) sepia(7%) saturate(1001%) hue-rotate(238deg) brightness(91%) contrast(89%);
    }
    //Draco
    &.g-12,
    .g-12,
    &.mgroup-12,
    .mgroup-12 {
        --rgb: 216, 173, 189;
        --rgb-filter: invert(85%) sepia(3%) saturate(2848%) hue-rotate(295deg) brightness(91%) contrast(85%);
    }
    &.light {
        &.g-12,
        .g-12,
        &.mgroup-12,
        .mgroup-12 {
            --rgb: 180, 141, 155;
            --rgb-filter: invert(66%) sepia(5%) saturate(1441%) hue-rotate(287deg) brightness(91%) contrast(85%);
        }
    }
    //Fornax
    &.g-13,
    .g-13,
    &.mgroup-13,
    .mgroup-13 {
        --rgb: 161, 99, 84;
        --rgb-filter: invert(45%) sepia(7%) saturate(2845%) hue-rotate(324deg) brightness(93%) contrast(87%);
    }
    //Lyra
    &.g-15,
    .g-15,
    &.mgroup-15,
    .mgroup-15 {
        --rgb: 176, 186, 129;
        --rgb-filter: invert(87%) sepia(19%) saturate(592%) hue-rotate(25deg) brightness(82%) contrast(87%);
    }
    &.light {
        &.g-15,
        .g-15,
        &.mgroup-15,
        .mgroup-15 {
            --rgb: 138, 146, 103;
            --rgb-filter: invert(62%) sepia(9%) saturate(1111%) hue-rotate(31deg) brightness(90%) contrast(85%);
        }
    }
    //Pyxis
    &.g-18,
    .g-18,
    &.mgroup-18,
    .mgroup-18 {
        --rgb: 44, 100, 186;
        --rgb-filter: invert(32%) sepia(96%) saturate(803%) hue-rotate(188deg) brightness(88%) contrast(91%);
    }
    //Orion
    &.g-23,
    .g-23,
    &.mgroup-23,
    .mgroup-23 {
        --rgb: 167, 69, 87;
        --rgb-filter: invert(35%) sepia(60%) saturate(602%) hue-rotate(299deg) brightness(86%) contrast(88%);
    }
    //Vela
    &.g-25,
    .g-25,
    &.mgroup-25,
    .mgroup-25 {
        --rgb: 61, 73, 171;
        --text-opacity: 1;
        --rgb-filter: invert(22%) sepia(85%) saturate(1380%) hue-rotate(217deg) brightness(95%) contrast(90%);
    }
}