@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Jcink Defaults
********************************/

/***** Hide Unused Elements *****/
.hidden,
.hide,
.newstext,
#submenu,
#userlinks,
.wrapmini,
a[href=""],
a[href="<i>No Information</i>"],
.goto-firstunread {
  display: none !important;
}
#delcookiesrow,
#mark-as-read-subto,
.copyright {
    text-align: center;
    opacity: 0.75;
    @include info(var(--text-primary), xs);

    a {
        color: var(--text-primary);
    }
}
.copyright {
    margin-bottom: var(--space-lg);
}
fieldset {
    border: var(--border-primary);
    background: var(--bg-secondary);
    max-width: 800px;
    margin: 0 auto !important;
    @include pattern;
    padding: var(--space-lg) !important;

    &::before {
        top: -19px;
        height: calc(100% + 19px);
    }

    legend {
        background-color: var(--bg-secondary);
        border: var(--border-accent-mid);
        padding: var(--space-xs) var(--space-md);
        @include info;
        color: var(--text-secondary);
        line-height: 200%;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--bg-accent-low);
        }
    }

    &:not(.search) {
        color: var(--text-primary);
        font-family: var(--font-sans);
        font-size: var(--text-size-md);
        line-height: 200%;

        table tr {
            &:first-child {
                td {
                    @include header(7);
                }
            }
        }
    }

    &.search {
        display: grid;
        text-align: left;
        font-size: 0;
        gap: var(--space-xs);
        margin: var(--space-lg) auto !important;
        padding: var(--space-lg) var(--space-lg) 0 !important;

        @include mq-up(xs) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content max-content 0;
            gap: var(--space-sm);
        }

        label {
            @include info;
            line-height: 160%;

            @include mq-up(xs) {
                grid-row: 1 / 2;
            }
        }

        select {
            background: var(--bg-tertiary);

            @include mq-up(xs) {
                grid-row: 2 / 3;
            }
        }

        input {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
            width: 100%;
            margin-bottom: -19px;
            @include info;
        }
    }
}

/***** Custom Defaults - Input Wraps *****/
.input-wrap {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    
    input {
        display: none;
        
        &:checked ~ .fancy-input {
            color: var(--text-primary);

            i {
                color: var(--text-primary);
            }
        }
    }
    .fancy-input {
        border: var(--border-accent-mid);
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        width: 20px;
        height: 20px;
        font-size: 12px;
        cursor: pointer;

        &.radio {
            border-radius: 50%;
        }

        i {
            color: transparent;
        }

        i.fa-xmark {
            left: 1px;
        }
    }
}

/***** Pagination *****/
.pagination {
    display: flex;
    gap: calc(var(--space-xs) / 2);
    font-size: 0;

    &_pagetxt {
        display: none;
    }
    &_current,
    &_page {
        border: var(--border-accent-mid);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: var(--font-sans-narrow);
        font-size: 12px;
        color: var(--text-primary);
    }
    &_current {
        background: var(--bg-accent-low);
        color: var(--text-secondary);
    }
    &_page {
        transition: var(--transition-standard);

        &:hover {
            background: var(--bg-accent-low);
            color: var(--text-secondary);
        }
    }
}

/***** Offline *****/
#idx {
    main {
        & > form:first-child {
            padding: var(--space-lg);

            & > .tableborder {
                background: var(--bg-secondary);
                @include pattern;

                & > .maintitle {
                    background: var(--bg-accent-low);
                    border: var(--border-accent-mid);
                    padding: var(--space-md);
                    @include header(2);

                    @include mq-up(xxs) {
                        padding: var(--space-lg);
                    }
                }
                & > .tablepad,
                & > table,
                & > .pformstrip {
                    padding: var(--space-md) var(--space-md) 0;
                    border-left: var(--border-primary);
                    border-right: var(--border-primary);

                    @include mq-up(xxs) {
                        padding: var(--space-lg) var(--space-lg) 0;
                    }
                }
                & > table {
                    display: block;

                    tbody {
                        display: grid;
                        gap: var(--space-lg);

                        @include mq-up(xs) {
                            grid-template-columns: repeat(2, 1fr);
                        }

                        tr {
                            display: grid;
                            gap: var(--space-xs);

                            td {
                                &:first-child {
                                    @include header(7);
                                }
                            }
                        }
                    }
                }
                & > .pformstrip {
                    border-bottom: var(--border-primary);
                    padding-bottom: var(--space-md);

                    @include mq-up(xxs) {
                        padding-bottom: var(--space-lg);
                    }
                }
            }
        }
    }
}

/***** Online List ******/
#Online {
    main {
        padding: 0 var(--space-md);
    
        @include mq-up(xxs) {
            padding: 0 var(--space-lg);
        }

        & > .tableborder:nth-of-type(2) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content 400px;
            background: var(--bg-secondary);
            margin: 0 auto;
            max-width: 1200px;
            @include pattern;
    
            @include mq-up(xs) {
                grid-template-columns: max-content 1fr;
                grid-template-rows: 1fr;
                height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs) - (2 * var(--space-md)) - 61px);
                min-height: 500px;
            }
    
            @include mq-down(xs) {
                flex-direction: column;
            }

            & > .maintitle {
                padding: var(--space-lg) !important;
                background: var(--bg-accent-low);
                border: var(--border-accent-mid);
                top: 0 !important;
                width: 100% !important;
                @include header(2);

                @include mq-up(xs) {
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    text-align: right;
                }
                
                & + table {
                    display: block;
                    width: 100%;

                    & > tbody {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: var(--space-md);
                        @include scroll;
            
                        @include mq-up(sm) {
                            grid-template-columns: repeat(2, 1fr);
                        }
                    
                        @include mq-up(md) {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        & > tr {
                            padding: var(--space-md);
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &:first-child {
                                display: none;
                            }

                            &:last-child {
                                grid-column: 1 / -1;
                                padding: 0;

                                td {
                                    border: var(--border-primary);
                                    background: var(--bg-tertiary);
                                    padding: var(--space-md);
                                    @include info;

                                    form {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: var(--space-sm);

                                        @include mq-down(sm) {
                                            flex-direction: column;
                                        }

                                        b {
                                            display: none;
                                        }

                                        select {
                                            @include mq-up(sm) {
                                                width: 150px;
                                            }

                                            @include mq-up(lg) {
                                                width: 200px;
                                            }
                                        }
                                        input {
                                            margin: 0;
                                        }
                                    }
                                }
                            }

                            &:not(:last-child) {
                                background: var(--bg-tertiary);
                                border: var(--border-primary);
                                @include info;
                                line-height: 200%;

                                & > td {
                                    text-align: left !important;

                                    & > a {
                                        &:first-of-type:not(:only-of-type) {
                                            @include header(6);
                                            color: var(--text-secondary) !important;

                                            span {
                                                color: var(--text-secondary) !important;
                                            }
                                        }
                                    }
                                }
                            }

                            & > td {
                                display: block;
                                width: 100%;
                                padding: 0;
                                text-align: center;
                                
                                &:first-child {
                                    text-align: center;

                                    span.g-2,
                                    a {
                                        &:first-child {
                                            display: block;
                                            line-height: 120%;
                                        }
                                    }
                                }
                                &:last-child:not(:only-child) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            & > table {
                border-right: var(--border-primary);
                border-bottom: var(--border-primary);
                padding: var(--space-md);

                @include mq-up(xxs) {
                    padding: var(--space-lg);
                }

                @include mq-down(xs) {
                    border-left: var(--border-primary);
                }
                @include mq-up(xs) {
                    border-top: var(--border-primary);
                    height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs) - (2 * var(--space-md)) - 61px);
                    min-height: 500px;
                }
            }
        }
    }
}

/***** Quick Reply/Options *****/
#ST {
    #qr_open,
    #topic_open {
        margin: 0 auto var(--space-lg);
        text-align: justify;
        padding: var(--space-lg);
    }
    #qr_open {
        .maintitle {
            line-height: 160%;
            max-width: max-content;
            padding: var(--space-sm) 0 var(--space-sm) var(--space-lg);
            margin-top: 0;
        }
        
        .tablepad {
            display: flex;
            flex-wrap: wrap;
            font-size: 0;
            justify-content: center;
        }

        .input-wrap:first-of-type {
            margin-right: calc(var(--space-md) / 2);

            & + .input-wrap {
                margin-left: calc(var(--space-md) / 2);
            }
        }

        textarea {
            width: 100%;
            flex: 0 0 100%;
            
            & ~ br {
                display: none;
            }
        }

        .input-wrap {
            font-size: var(--text-size-md);
        }

        .qr_buttons {
            width: 100%;
            flex: 0 0 100%;
            margin-top: var(--space-md);
            display: flex;
            gap: var(--space-md);
            justify-content: center;

            input {
                margin-left: 0;
                margin-right: 0;
                font-size: var(--text-size-md);
            }
        }

        #post_as_selector {
            width: 100%;
            flex: 0 0 100%;
            margin: var(--space-md) 0 var(--space-xs);

            br {
                display: none;
            }
        }
    }
    #topic_open {
        .maintitle {
            font-size: 0;
        }

        .tablepad b {
            margin: var(--space-lg) 0 var(--space-xs);

            &:first-child {
                margin-top: 0;
            }

            & ~ br {
                display: none;
            }
        }
    }
}

/***** New Post/Reply ******/
#Post {
    main {
        & > form {
            padding: 0 var(--space-md);

            @include mq-up(xxs) {
                padding: 0 var(--space-lg);
            }

            & ~ br {
                display: none;
            }
        }
    }
    #posting-form {
        display: block;
        margin: var(--space-lg) auto 0;
        max-width: 1200px;

        .maintitle {
            @include header(3);
        }

        input {
            background: var(--bg-secondary);
        }

        & > tbody {
            display: grid;
            width: 100%;

            @include mq-up(md) {
                grid-template-columns: 350px 1fr;
            }

            & > tr {
                select {
                    background: var(--bg-secondary);
                }
                &:not(#code-buttons):not(#enter-your-post) {
                    grid-column: 1 / -1;
                }
                &:first-child {
                    display: block;
                    margin-bottom: var(--space-lg);
                    width: 100%;
                }
                &:not(:first-child) {
                    padding: var(--space-md) var(--space-md) 0;
                }
                &:last-child {
                    padding-bottom: var(--space-md);
                }
                &#topic-settings-header,
                &#code-buttons-header,
                &#enter-your-post-header,
                &#post-as-header,
                &#post-as + tr:not(:last-child),
                &#post-as .pformleft,
                &#post-options .pformleft,
                &#enter-your-post .pformleft,
                &#code-buttons .pformleft,
                &#topic-title .pformleft,
                &#topic-desc .pformleft,
                &#post-as + tr + tr:not(:last-child) .pformleft,
                &#upload-files-header,
                &#upload-files {
                    display: none;
                }

                &#topic-title,
                &#topic-desc {
                    display: block;

                    .pformright {
                        display: block;
                        
                        input {
                            width: 100%;
                            box-sizing: border-box;
                            text-transform: none;
                        }
                    }
                }

                &#topic-title {
                    .pformright {
                        input {
                            font-size: 30px;
                            font-weight: 700;
                            color: var(--text-secondary);
                            height: auto;
                            padding: var(--space-sm) var(--space-md);
                        }
                    }
                }

                &#topic-desc {
                    .pformright {
                        input {
                            font-size: var(--text-size-md);
                            font-weight: 700;
                            color: var(--text-secondary);
                            height: auto;
                            padding: var(--space-sm) var(--space-md);
                            letter-spacing: 0.02em;
                        }
                    }
                }

                &#code-buttons {
                    display: block;
                    padding: var(--space-md);

                    .pformright {
                        font-size: 0;
                        line-height: 0;
                        display: block;

                        & > input,
                        & > br {
                            display: none;
                        }

                        #bbcode-buttons {
                            display: grid;
                            grid-template-columns: repeat(1, 1fr);
                            gap: var(--space-sm);

                            @include mq-up(xs) {
                                grid-template-columns: repeat(2, 1fr);
                            }

                            @include mq-up(sm) {
                                grid-template-columns: repeat(3, 1fr);
                            }

                            @include mq-up(md) {
                                grid-template-columns: repeat(1, 1fr);
                            }

                            input,
                            select {
                                margin: 0;
                                font-size: var(--text-size-md);
                                line-height: 160%;
                            }

                            & > a,
                            & > br {
                                display: none;
                            }
                        }
                    }
                }

                &#enter-your-post {
                    display: block;

                    & > td {
                        display: block;

                        &.pformright {
                            height: 300px;

                            @include mq-up(md) {
                                position: absolute;
                                top: var(--space-md);
                                left: 0;
                                width: calc(100% - var(--space-md));
                                height: calc(100% - (2 * var(--space-md)));
                            }
                        }

                        textarea {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            background: var(--bg-secondary);
                            margin: 0;
                        }
                    }
                }

                &#post-options {
                    display: block;

                    .pformright {
                        display: flex;
                        justify-content: center;
                        gap: var(--space-md);
                        flex-wrap: wrap;

                        & > br {
                            display: none;
                        }

                        .input-wrap {
                            gap: var(--space-xs);

                            p {
                                margin: 0;
                            }

                            .fancy-input {
                                margin-right: var(--space-xs);
                            }

                            & + br + .input-wrap:not(:last-child) {
                                display: none;
                            }
                        }
                    }
                }

                &#post-as + tr + tr:not(:last-child),
                &#post-as {
                    display: block;

                    td {
                        display: block;
                        text-align: center;

                        select {
                            width: 100%;
                            max-width: 250px;
                        }
                    }
                }

                &#post-icon-options {
                    display: block;

                    .pformleft {
                        display: none;
                    }
                    .pformright {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--space-sm) 0;
                    }
                }

                &:last-child {
                    display: block;

                    .pformstrip:only-child {
                        display: flex;
                        justify-content: center;
                        gap: var(--space-sm);

                        input {
                            @include btn(submit);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    #topic-summary {
        margin-top: var(--space-md);
        padding: var(--space-md);

        @include mq-up(xxs) {
            padding: var(--space-lg);
        }

        @include mq-up(xs) {
            margin-top: var(--space-lg);
        }

        & > .tableborder {
            .pformstrip {
                display: block;
                max-width: max-content;
                padding: var(--space-xs) var(--space-sm);
                @include header(6);
            }

            & > table {
                display: block;
                margin: var(--space-md) auto 0;
                max-width: 1200px;

                @include mq-up(xs) {
                    margin-top: var(--space-lg);
                }

                tbody {
                    display: flex;
                    flex-direction: column;

                    tr {
                        &:nth-child(2n + 1) {
                            display: flex;
                            flex-direction: column;
                            background: var(--bg-secondary);
                            @include pattern;

                            td {
                                padding: 0;
                                width: 100%;
                                background: var(--bg-accent-low);
                                border: var(--border-accent-mid);
                                padding: var(--space-md);

                                @include mq-up(xxs) {
                                    padding: var(--space-lg);
                                }

                                &:first-child {
                                    border-bottom: 0;
                                    padding-bottom: 0 !important;
                                    @include header(2);
                                    top: 0;
                                    line-height: 120%;
                                }
                                &:last-child {
                                    border-top: 0;
                                    padding-top: 0 !important;
                                    @include info;
                                    line-height: 160%;
                                }
                            }
                        }

                        &:nth-child(2n) {
                            display: block;
                            padding: var(--space-md);
                            margin: 0 0 var(--space-lg);
                            background: var(--bg-secondary);
                            @include pattern;
                            border: var(--border-primary);
                            border-top: 0;

                            @include mq-up(xxs) {
                                padding: var(--space-lg);
                            }

                            td {
                                display: block;
                                width: 100%;
                                padding: 0;
                                text-align: justify;
                                line-height: 200%;
                                background: var(--bg-tertiary);
                                border: var(--border-primary);
                                padding: var(--space-md);
                                
                                @include mq-up(xxs) {
                                    padding: var(--space-lg);
                                }

                                &:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #post-preview {
        margin: var(--space-md) auto;
        max-width: calc(min(1200px, calc(100% - (2 * var(--space-md)))));
        background: var(--bg-secondary);
        @include pattern;

        @include mq-up(xxs) {
            margin: var(--space-lg) auto;
            max-width: calc(min(1200px, calc(100% - (2 * var(--space-lg)))));
        }

        .pformstrip {
            display: block;
            padding: var(--space-xs) var(--space-sm);
            border: var(--border-accent-mid);
            background: var(--bg-accent-low);
            width: 100%;
            padding: var(--space-md);
            @include header(2);
            font-size: 20px;
        }
        .row1 {
            border: var(--border-primary);
            border-top: 0;
            padding: var(--space-md) !important;

            @include mq-up(xxs) {
                padding: var(--space-lg) !important;
            }

            .postcolor {
                background: var(--bg-tertiary);
                border: var(--border-primary);
                padding: var(--space-md) !important;
    
                @include mq-up(xxs) {
                    padding: var(--space-lg) !important;
                }
            }
        }
    }

    .customButtonSection {
        display: grid;
        grid-template-rows: max-content auto;
        background: var(--bg-secondary);
        height: max-content;
        @include pattern;
        transition: var(--transition-standard);

        &:has(.is-active) {
            grid-column: 1 / -1;
        }

        .cbHeader {
            padding: var(--space-sm) !important;
            background: var(--bg-accent-low);
            border: var(--border-accent-mid);
            top: 0 !important;
            width: 100% !important;
            @include header(2);
            font-size: 16px !important;
            letter-spacing: 0.05em;
        }

        .buttonHolder {
            overflow: hidden;
            background: var(--bg-secondary);

            .buttons--flex {
                padding: var(--space-md);
                display: flex;
                flex-wrap: wrap;
                border: var(--border-primary);
                border-top: 0;
                align-items: flex-start;
                gap: var(--space-sm);
            }

            input {
                width: max-content;
                @include btn(smlbtn);
                background: var(--bg-accent-low) !important;
                font-size: var(--text-size-md) !important;
            }
        }
    }
}

/***** Registration ******/
#Reg {
    main {
        //page 1 only
        padding: var(--space-md);

        @include mq-up(xxs) {
            padding: var(--space-lg);
        }
        
        & > .tableborder:first-of-type {
            padding: var(--space-lg);
            background: var(--bg-secondary);
            border: var(--border-primary);
            max-width: 800px;
            margin: 0 auto var(--space-lg);
            @include pattern;

            .tablepad {
                & + .row2 {
                    color: var(--text-secondary);
                    @include info;
                }
                b {
                    @include header(7);
                    margin: var(--space-md) 0;
    
                    & + br { 
                        display: none;
                    }
                }
            }

            .row2:last-child {
                margin-top: var(--space-lg);
            }
        }

        & > .tableborder:first-of-type,
        & > form > .tableborder {
            padding: var(--space-lg);

            .maintitle {
                @include header(6);
            }

            .tablepad b + br {
                & + br,
                & + br + br {
                    display: none;
                }
            }
        }
        & > form {
            display: flex;
            flex-direction: column;
            font-size: 0;
            line-height: 0;

            & > br,
            .maintitle + .pformstrip {
                display: none;
            }

            .tablepad {
                & > table {
                    display: block;

                    & > tbody {
                        display: block;

                        & > tr {
                            &:first-child {
                                display: flex;
                                flex-direction: column;

                                & > td {
                                    width: 100%;
    
                                    fieldset {
                                        max-width: none;
                                        width: 100%;
                                        box-sizing: border-box;

                                        input,
                                        select,
                                        textarea {
                                            width: 100%;
                                        }
                                    }

                                    &:first-child,
                                    &:last-child > div > table > tbody > tr > td {
                                        display: grid;
                                        gap: var(--space-lg);

                                        @include mq-up(sm) {
                                            grid-template-columns: repeat(2, calc(50% - (var(--space-lg) / 2)));
                                        }
    
                                        & > br {
                                            display: none;
                                        }
    
                                        & > div > b {
                                            display: none;
                                        }
    
                                        table,
                                        tbody,
                                        tr,
                                        td {
                                            display: block;
                                        }
                                    }

                                    &:first-child {
                                        fieldset {
                                            grid-column: 1 / -1;

                                            &:nth-of-type(2),
                                            &:nth-of-type(3) {
                                                table > tbody > tr {
                                                    display: grid;
                                                    gap: var(--space-xs);

                                                    @include mq-down(sm) {
                                                        &:first-child > td:last-child {
                                                            display: none;
                                                        }
                                                    }

                                                    @include mq-up(sm) {
                                                        grid-template-columns: 1fr 1fr;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &:last-child {
                                        padding-top: var(--space-lg);

                                        & > div > b,
                                        & > div > br {
                                            display: none;
                                        }

                                        & > div {
                                            & > table {
                                                display: block;

                                                & > tbody {
                                                    display: block;

                                                    & > tr {
                                                        display: block;

                                                        & > td {
                                                            fieldset {
                                                                &:last-of-type:nth-of-type(odd) {
                                                                    grid-column: 1 / -1;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                display: block;

                                input {
                                    line-height: 200%;
                                }

                                & > td {
                                    &:first-child {
                                        display: none;
                                    }

                                    &:last-child {
                                        display: block;

                                        fieldset {
                                            display: none;
                                        }
                                        .desc {
                                            font-size: 0;
                                            max-width: max-content;
                                            margin: var(--space-md) auto 0;

                                            & + br {
                                                display: none;
                                            }

                                            .input-wrap {
                                                display: block;
                                                text-align: left;

                                                &.tos {
                                                    cursor: pointer;
                                                    @include info;
                                                    display: flex;
                                                    align-items: center;
                                                    margin: var(--space-lg) 0;

                                                    p {
                                                        margin: 0;
                                                    }
                                                }

                                                .fancy-input {
                                                    margin-right: var(--space-sm);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .warning {
        @include info;
        line-height: 200%;
        background: none !important;
        border: none !important;
        padding: 0 !important;
        color: var(--text-secondary);
    }
    #registration-form {
        .maintitle {
            line-height: 200%;
            margin-bottom: var(--space-lg);
        }
    }
}

/***** Login ******/
#Login {
    main {
        padding: var(--space-md);

        @include mq-up(xxs) {
            padding: var(--space-lg);
        }
    }
    .textNodes {
        padding: var(--space-lg);
        background: var(--bg-secondary);
        border: var(--border-primary);
        max-width: 800px;
        margin: 0 auto var(--space-lg);
        @include pattern;
        
        br {
            display: none;
        }

        .tableborder > .maintitle {
            text-align: left;
            @include header(6);
            margin: var(--space-xl) 0 var(--space-md);
        }
        form {
            .tablebasic {
                margin-bottom: var(--space-lg);

                &:first-of-type {
                    width: 100%;

                    tbody {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        .pformleftw {
                            display: none;
                        }
                        tr {
                            width: 100%;
                            padding: var(--space-xs) 0;
                        }
                        td,
                        input {
                            width: 100%;
                            display: block;
                        }
                    }

                    & + .pformstrip {
                        display: none;
                    }
                }

                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}

/***** Search Pages (Posts by User, Topics by User, Active Topics) *****/
#Search {
    main {
        & > br:nth-child(2) {
            display: none;
        }
    }
}
#Search.code-show main > #search-topics,
#Search.code-getactive {
    .tablebasic {
        display: block;
        padding: var(--space-md);

        @include mq-up(xxs) {
            padding: var(--space-lg);
        }

        & > tbody {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--space-md);
            height: 100%;
            grid-template-rows: max-content;
            @include scroll;
            
            @include mq-up(xs) {
                gap: var(--space-lg);
            }

            @include mq-up(sm) {
                grid-template-columns: repeat(2, 1fr);
            }
        
            @include mq-up(md) {
                grid-template-columns: repeat(3, 1fr);
            }

            & > tr {
                display: flex;
                flex-wrap: wrap;
                padding: var(--space-md);
                gap: 0 var(--space-md);
                background: var(--bg-tertiary);
                border: var(--border-primary);
                @include info;
                line-height: 200%;

                &:first-child {
                    display: none;
                }

                & > td {
                    flex: 0 0 100%;
                    width: 100%;
                    text-align: left;
                    padding: 0;
                    
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(7) {
                        display: none;
                    }
                    &:nth-child(3) {
                        order: 1;

                        table {
                            padding-bottom: var(--space-xs);
                            @include header(7);
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(5) {
                        a {
                            color: inherit;
                            border-bottom: var(--border-accent-mid);
                            padding: 0 3px 2px;
                            transition: var(--transition-standard);
                            color: var(--text-secondary);
    
                            &:hover {
                                border-bottom: var(--border-accent-high);
                            }
                        }
                    }
                    &:nth-child(4) {
                        order: 3;
                        padding-top: var(--space-sm);
                        margin-top: var(--space-sm);
                        border-top: var(--border-primary);

                        &::before {
                            content: 'Posted in ';
                        }
                    }
                    &:nth-child(5) {
                        order: 4;
                        padding-bottom: var(--space-sm);
                        margin-bottom: var(--space-sm);
                        border-bottom: var(--border-primary);

                        &::before {
                            content: 'Started by ';
                        }
                    }
                    &:nth-child(6) {
                        order: 2;

                        &::after {
                            content: ' Replies';
                        }
                    }
                    &:nth-child(8) {
                        display: flex;
                        flex-direction: column;
                        order: 5;

                        & > a {
                            order: -1;
                        }

                        & > b {
                            order: -1;
                            color: var(--text-secondary);
                        }
                    }
                }
            }
        }
    }
}
#Search.code-getactive {
    main {
        & > form {
            & > div {
                &:not(.pagelinks) {
                    width: 100% !important;

                    fieldset {
                        margin: 0;
                    }
                }
            }
        }
    }
}
#Search.code-show {
    main {

        & > div:not(.wrapmini):not(.tableborder):not(#search-topics) {
            position: sticky;
            top: calc(var(--size-menu-main) + var(--size-menu-breadcrumbs));
            padding: var(--space-md);
            z-index: 1;
            background: var(--bg-secondary);
            border-bottom: var(--border-primary);
        }

        #search-topics {
            & > .tableborder {
                & > 
                .maintitle {
                    a {
                        display: block;
                        margin-left: 0;
                    }
                }
            }
        }

        //search topics
        & > .tableborder:not(:last-of-type) {
            margin: 0 var(--space-md);
            background: var(--bg-secondary);
            @include pattern;
            border: var(--border-primary);
            padding: var(--space-lg) var(--space-md) var(--space-md);

            & ~ div:not(.tableborder) {
                border-top: var(--border-primary);
            }
    
            @include mq-up(xxs) {
                margin: 0 var(--space-lg);
                padding: var(--space-lg);
            }
    
            @include mq-up(lg) {
                margin: 0 auto;
                max-width: 1200px;
            }

            & > .maintitle {
                @include header(2, var(--text-secondary), serif);
                text-transform: capitalize;

                @include mq-down(xxs) {
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }

            .tablebasic {
                display: block;
                background: var(--bg-tertiary);
                border: var(--border-primary);
                margin-top: var(--space-lg);
                padding: var(--space-sm) var(--space-lg);

                tbody {
                    display: flex;
                    flex-direction: column;

                    tr {
                        td {
                            padding: 0;
                        }

                        &:first-child {
                            display: flex;
                            flex-direction: column;
                            padding: var(--space-sm) 0 var(--space-md);
                            line-height: 160%;
                            border-bottom: var(--border-accent-mid);

                            td {
                                &:first-child {
                                    @include header(6);
                                }
                                &:last-child {
                                    @include info;
                                }
                            }
                        }

                        &:nth-child(2) {
                            margin: var(--space-md) auto;
                            padding: var(--space-lg);
                            max-width: 800px;

                            td {
                                &:first-child {
                                    display: none;
                                }
                            }
                        }

                        &:last-child {
                            padding: var(--space-sm) 0 0;
                            border-top: var(--border-accent-mid);
                            @include info;
                        }
                    }
                }
            }
        }
    }

    div:not(.bg):not(.invisibleEl):empty {
        display: none;
    }
}
#search-topics,
#active-topics {
    padding: 0 var(--space-md);

    @include mq-up(xxs) {
        padding: 0 var(--space-lg);
    }

    & > .tableborder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 400px max-content;
        background: var(--bg-secondary);
        margin: 0 auto;
        max-width: 1200px;
        @include pattern;

        @include mq-up(xs) {
            grid-template-columns: max-content 1fr max-content;
            grid-template-rows: 1fr;
            height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs) - (2 * var(--space-md)) - 61px);
            min-height: 500px;
        }

        @include mq-down(xs) {
            flex-direction: column;
        }

        & > .maintitle {
            padding: var(--space-lg) !important;
            background: var(--bg-accent-low);
            border: var(--border-accent-mid);
            top: 0 !important;
            width: 100% !important;

            @include mq-up(xs) {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                text-align: right;
            }
        }
        & > table {
            @include mq-down(xs) {
                border-left: var(--border-primary);
                border-right: var(--border-primary);
            }
            @include mq-up(xs) {
                border-top: var(--border-primary);
                border-bottom: var(--border-primary);
                height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs) - (2 * var(--space-md)) - 61px);
                min-height: 500px;
            }
        }
        & > .titlemedium {
            padding: var(--space-md);
            background: var(--bg-accent-low);
            border: var(--border-accent-mid);
            @include info;

            @include mq-up(xs) {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                text-align: right;
            }
        }
    }
}
#active-topics {
    & > .tableborder {
        & > .maintitle {
            @include header(2);
        }
    }
}
#search-topics {
    & > .tableborder {
        & > .maintitle {
            @include header(5);
        }
    }
}

/***** Redirect ******/
#redirect-screen {
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    padding: 0;
    background: rgba(26, 25, 24, 1);
    
    .tablefill {
        max-width: 350px;
        line-height: 200%;
        z-index: 3;
        color: rgb(185, 185, 185);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 9px;
        font-family: "PT Sans", sans-serif;
        background: rgba(40, 39, 38, 0.9);
        border: 1px solid rgba(232, 231, 229, 0.15);
        padding: 30px;
    }
}

/***** No Results ******/
main:has(#board-message) {
    padding: var(--space-md);

    @include mq-up(xxs) {
        padding: var(--space-lg);
    }
}
#board-message {
    padding: var(--space-lg);
    background: var(--bg-secondary);
    border: var(--border-primary);
    max-width: 800px;
    margin: 0 auto var(--space-lg);
    @include pattern;
}