@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Header
********************************/
body {
    & > header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
        width: 100%;
        height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs));

        h1 {
            @include diamonds(100%, 10px, 'horizontal');
            margin: 0;
            color: var(--text-secondary);
            font-family: var(--font-serif);
            font-weight: 900;
            @include fluid-type(60, 105, 480, 1024);
            line-height: 100%;
            display: flex;
            flex-direction: column;

            &::before,
            &::after {
                top: -10%
            }

            .small {
                font-size: 1em;
                position: relative;
                z-index: 1;
            }

            .biggest {
                font-size: 2.2em;
                z-index: 2;
                color: var(--text-accent);
                top: -2vh;
                left: 10vw;
            }

            .big {
                z-index: 3;
                font-size: 1.6em;
                left: 7vw;
                top: -2vh;
            }
        }

        & > p {
            margin: 0 auto;
            color: var(--text-secondary);
            font-family: var(--font-sans-narrow);
            text-transform: uppercase;
            font-size: var(--text-size-sm);
            letter-spacing: 0.2em;
            font-weight: 900;
        }
    }
}