@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Navigation
********************************/
.nav {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 10;
    background: white;

    &--top {
        z-index: 11;
        top: 0;
        left: 0;
        height: var(--size-menu-main);
        width: 100%;
        background: var(--bg-secondary);
        backdrop-filter: blur(2px);
        border-bottom: var(--border-primary);
        padding: var(--space-sm);
    }
    &--breadcrumbs {
        position: fixed;
        top: var(--size-menu-main);
        width: 100%;
        height: var(--size-menu-breadcrumbs);
        font-size: var(--text-size-sm);
        text-transform: uppercase;
        font-family: var(--font-sans-narrow);
        font-weight: 700;
        letter-spacing: 0.1em;
        padding: 0 var(--space-xs);
        background: var(--bg-secondary-mid);
        backdrop-filter: blur(2px);
        border-bottom: var(--border-primary);

        #navstrip {
            flex: 0 0 auto;
            height: max-content;
            line-height: 160%;
            display: flex;
            flex-wrap: wrap;
            max-width: calc(100% - var(--size-menu));

            a {
                @include info(var(--text-primary), normal);
                transition: var(--transition-standard);

                &:hover {
                    color: var(--text-secondary);
                }
            }
        }
    }

    .button--menu,
    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background: none;
        color: var(--text-primary);
        font-size: 12px;
        padding: 0;
        margin: 0;

        body.g-2 &.guestOnly,
        body.g-4 &.staffOnly {
            display: flex;
        }
    }

    & > a,
    &--inline {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        aspect-ratio: 2 / 1;
        width: calc((var(--size-menu-main) - (2 * var(--space-sm))) * 2);
        transition: var(--transition-standard);

        &:last-child {
            aspect-ratio: 1 / 1;
            width: calc((var(--size-menu-main) - (2 * var(--space-sm))));
        }

        &:not(:last-child)::after {
            content: '\e7f9';
            width: 50%;
            flex: 0 0 50%;
            font-family: 'Font Awesome 7 Pro';
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-accent);
            font-size: 12px;
            transition: var(--transition-standard);
            background: var(--bg-accent-mid);
            height: 1px;
        }

        &:hover {
            color: var(--text-secondary);
        }

        & > i,
        & > button {
            width: 50%;
            flex: 0 0 50%;
        }
    }

    &--inline {
        .button--menu:not(.is-open) .fa-xmark,
        .button--menu.is-open i:not(.fa-xmark) {
            display: none;
        }
    }

    &--popout {
        position: absolute;
        left: 25%;
        top: 100%;
        background: var(--bg-primary);
        opacity: 0;
        z-index: 9;

        &:not(.fullWidth) {
            & > .scroll {
                padding: var(--space-md);
            }
        }

        &:not(.fullHeight) {
            border: var(--border-primary);
            transform: scaleY(0) translateX(-50%);
            transform-origin: top;
            transition: var(--transition-standard);
        }

        &.fullHeight {
            top: calc(var(--size-menu-main) + var(--size-menu-breadcrumbs));
            position: fixed;
            left: 0;
            width: 100%;
            height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs));
            border-right: var(--border-primary);
            transform: scaleX(0);
            transform-origin: left;
            transition: var(--transition-long);
            max-width: var(--size-max-popout-width);

            &.is-open {
                transform: scaleX(1);
                opacity: 1;
            }
        }

        &.fullWidth {
            max-width: none;
        }

        &:not(.fullHeight).is-open {
            transform: scaleY(1) translateX(-50%);
            opacity: 1;
        }

        &.options {
            padding: var(--space-md);
            display: grid;
            gap: var(--space-sm);

            button {
                display: grid;
                align-items: center;
                gap: var(--space-sm);
                background: none;
                border: none;
                grid-template-columns: 1fr 1fr;
                color: var(--text-secondary);

                div {
                    width: var(--space-lg);
                    height: var(--space-xs);
                    border-radius: calc(var(--space-xs) / 2);
                    background: var(--border-primary-color);
                    transition-duration: var(--transition-standard-duration);
                    cursor: pointer;

                    span {
                        display: block;
                        width: 9px;
                        height: 9px;
                        margin: -2px auto -2px 0;
                        border-radius: 50%;
                        background: var(--text-primary);
                        transition-duration: var(--transition-standard-duration);
                    }
                }

                body.light &.toggle--theme div,
                body.xlFont &.toggle--size div {
                    background: var(--bg-accent);

                    span {
                        margin: -2px 0 -2px auto;
                    }
                }
                body.lgFont &.toggle--size div {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        background: var(--bg-accent);
                        border-radius: 2.5px;
                    }
                    span {
                        margin: -2px auto;
                    }
                }
            }
        }

        &[data-menu="main" i] {
            display: grid;
            grid-template-columns: 1fr var(--size-max-popout-width);
            gap: var(--space-md);
            padding: 0;
        }

        .menu--sections {
            order: 1;
            display: grid;
            gap: var(--space-lg) var(--space-sm);
            padding: var(--space-lg);
            
            @include mq-up(md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .menu--section {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);

            &-inner {
                display: flex;
                flex-direction: column;
                gap: var(--space-sm);
                background: var(--bg-secondary-mid);
                padding: var(--space-lg);
                border: var(--border-primary);
    
                & > a {
                    @include btn(link);
                }
            }

            & > strong {
                font-family: var(--font-serif);
                color: var(--text-secondary);
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                @include decoration;
            }
        }

        #account-switch {
            height: 100%;

            #subaccounts_menu {
                display: block;
                height: 100%;

                & > form,
                .switch {
                    height: 100%;
                }
            }
        }
    }

    #quick-login {
        width: calc(100vw - var(--space-lg));
        max-width: 200px;

        form {
            & > div {
                display: grid;
                gap: var(--space-xs);
                text-align: center;

                strong {
                    display: none;
                }
            }
        }
    }

    &--profile {
        order: 2;
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        background: var(--bg-secondary);
        padding: var(--space-lg);
        border-left: var(--border-primary);

        &-image {
            padding: 30px;
            @include diamonds(70%, 10px, horizontal, 0, calc(25% + 10px), 0);

            img {
                z-index: 1;
                //clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
            }
        }
        &-links {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            padding: 5px 0 0 5px;

            & > a,
            & > span {
                @include btn(link);
            }
        }
    }
}

.switch {
    &--container {
        padding: var(--space-md);
    }

    .scroll {
        display: grid;
        gap: var(--space-md);
    }

    &:has(.parent-account) {
        .switch--container {
            height: calc(100% - 111px);
        }
    }

    &--block {
        display: grid;
        grid-template-columns: var(--size-switcher-image) auto;
        gap: 0 var(--space-lg);
        cursor: pointer;
        padding: var(--space-sm) 0 var(--space-sm) var(--space-sm);
        align-items: center;

        &.parent-account {
            padding: var(--space-lg) var(--space-md) var(--space-lg) var(--space-lg);
            background: var(--bg-accent-low);
            border-bottom: var(--border-accent-low);
            transition: var(--transition-standard);

            &:hover {
                background: transparent;
            }
        }

        &:hover {
            .switch--name {
                b {
                    color: var(--text-accent);
                }
            }
            .switch--image {
                &::before {
                    transform: rotate(0);
                    left: -1px;
                    top: -1px;
                }
            }
        }

        input {
            display: none;
        }
    }
    &--image {
        width: var(--size-switcher-image);
        height: var(--size-switcher-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include diamond(100%, high);
    }
    &--name {
        font-size: var(--text-size-md);
        display: flex;
        flex-direction: column;

        b {
            font-family: var(--font-serif);
            font-weight: 900;
            font-size: 1.5em;
            line-height: 120%;
            color: var(--text-secondary);
            transition: var(--transition-standard);
        }

        span {
            color: var(--text-primary);
            font-family: var(--font-sans-narrow);
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: 500;
            line-height: 120%;
        }
    }
}

.alert {
    &--menu {
        display: flex;
        gap: var(--space-sm);
        height: var(--size-switcher-image);
        flex-wrap: wrap;
        justify-content: end;
        background: var(--bg-accent-low);
        padding: var(--space-md) var(--space-sm);
        height: calc(35px + (2 * var(--space-md)));
        border-bottom: var(--border-accent-low);

        a {
            @include btn(diamonds);
        }
    }
    &--main {
        height: calc(100% - 35px - (2 * var(--space-md)));
        padding: var(--space-md);

        & > .scroll {
            & > div:not(.row2) {
                display: none;
            }
        }

        .recent-alerts-msg {
            font-size: 0;
            line-height: 0;
            display: grid;
            align-items: center;
            grid-template-columns: var(--size-switcher-image) 1fr;
            margin-bottom: var(--space-md);

            & > div:only-of-type {
                grid-column: 1 / -1;
                font-size: var(--size-lg);
            }

            br {
                display: none;
            }

            & > img {
                grid-row: 1 / 3;
                width: var(--size-switcher-image);
                height: var(--size-switcher-image);
            }

            & > a {
                border: none;
                padding: 0 0 0 var(--space-md);
                text-align: left; 
                justify-content: start;

                &:hover {
                    background: none;
                    color: var(--text-accent);
                }
            }

            &:not(.reg-alert) {
                &:hover {
                    & > a:last-of-type {
                        color: var(--text-accent);
                    }
                }
                & > a {
                    &:first-of-type {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                        font-size: var(--text-size-md);
                        color: var(--text-primary);
                        font-family: var(--font-sans-narrow);
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        font-weight: 500;
                        line-height: 120%;
                    }
                    &:nth-of-type(2):not(:last-of-type) {
                        display: none;
                    }
                    &:last-of-type {
                        grid-row: 1 / 2;
                        grid-column: 2 / 3;
                        font-family: var(--font-serif);
                        font-weight: 900;
                        font-size: calc(1.5 * var(--text-size-md));
                        line-height: 120%;
                        color: var(--text-secondary);
                        text-transform: capitalize;
                        transition: var(--transition-standard);
                    }
                }
            }
            &.reg-alert {
                &:hover {
                    & > a {
                        color: var(--text-accent);
                    }
                }
                & > a {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    font-family: var(--font-serif);
                    font-weight: 900;
                    font-size: calc(1.5 * var(--text-size-md));
                    line-height: 120%;
                    color: var(--text-secondary);
                    text-transform: capitalize;
                    transition: var(--transition-standard);
                }
                &::after {
                    content: 'New Registration';
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    padding: 0 0 0 var(--space-md);
                    font-size: var(--text-size-md);
                    color: var(--text-primary);
                    font-family: var(--font-sans-narrow);
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
        }
    }
}

[data-new]:not([data-new="0"]) {
    color: var(--text-accent-strong);
    transition: var(--transition-standard);

    &:hover {
        color: var(--text-secondary);
    }
}