@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    User CP
********************************/

//General
#UserCP,
#Msg {
    & > header {
        display: none;
    }
    main {
        & > table:first-of-type {
            display: block;

            & ~ * {
                display: none;
            }

            & > tbody {
                display: block;
                padding: var(--space-md);

                @include mq-up(xxs) {
                    padding: var(--space-lg);
                }

                & > tr {
                    background: var(--bg-secondary);
                    @include pattern;

                    @include mq-down(md) {
                        display: flex;
                        flex-direction: column;
                    }
                    @include mq-up(md) {
                        display: grid;
                        grid-template-columns: var(--size-page-menu-width) auto;
                        grid-template-rows: calc(max(calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs) - (2 * var(--space-lg))), 500px));
                        min-height: 500px;
                        max-height: calc(100vh - var(--size-menu-main) - var(--size-menu-breadcrumbs) - (2 * var(--space-lg)));
                    }
                    
                    & > td {
                        &#ucpmenu {
                            background: var(--bg-accent-low);
                            border: var(--border-accent-mid);
                            padding: var(--space-lg);

                            @include mq-down(md) {
                                position: sticky;
                                top: calc(var(--size-menu-breadcrumbs) + var(--size-menu-main));
                                z-index: 1;
                                background: var(--bg-secondary);
                                backdrop-filter: blur(2px);
                                padding: var(--space-md);

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: var(--bg-accent-low);
                                }
                            }

                            .sticky {
                                display: flex;
                                flex-direction: column;
                                gap: var(--space-sm);
                                position: sticky;
                                top: var(--size-menu-main);
                            }
                            .menu-section {
                                display: flex;
                                flex-direction: column;
                                gap: var(--space-sm);
                            }
                            .accordion--trigger {
                                @include header(6);

                                &::before {
                                    background: none;
                                }
                            }
                            .accordion--inner {
                                display: flex;
                                flex-direction: column;

                                a {
                                    @include info(var(--text-primary), larger, 400, $spacing: 0.05em);
                                    transition: var(--transition-standard);

                                    &:hover,
                                    &.is-active {
                                        color: var(--text-secondary);
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &#ucpcontent {
                            flex-grow: 1;
                            padding: var(--space-md);
                            border: var(--border-primary);
                            height: 100%;
                            overflow: auto;

                            @include mq-up(xxs) {
                                padding: var(--space-lg);
                            }

                            @include mq-down(md) {
                                border-top: 0;
                            }

                            @include mq-up(md) {
                                border-left: 0;
                            }

                            input[type="text"],
                            input[type="file"],
                            input[type="password"],
                            textarea,
                            select {
                                width: 100%;
                            }

                            .maintitle {
                                display: none;
                            }
                    
                            form {
                                & > table {
                                    display: block;
                        
                                    & > tbody {
                                        display: block;
                        
                                        & > tr {
                                            display: flex;
                                            flex-direction: column;
                                            gap: var(--space-sm);
                                            margin-bottom: var(--space-md);
                    
                                            @include mq-up(xxs) {
                                                margin-bottom: var(--space-lg);
                                            }
                    
                                            @include mq-up(sm) {
                                                gap: var(--space-md);
                                            }
                        
                                            .pformleft {
                                                b,
                                                strong,
                                                label {
                                                    line-height: 160%;
                                                    display: block;
                                                    max-width: max-content;
                                                    padding: var(--space-xs) var(--space-sm);
                    
                                                    & ~ br {
                                                        display: none;
                                                    }
                                                }
                                            }
                                            .pformright {
                                                display: flex;
                                                gap: var(--space-xs);
                                                height: max-content;
                                            }
                    
                                            & > :only-child {
                                                grid-column: 1 / -1;
                                            }
                        
                                            &:last-child {
                                                grid-column: 1 / -1;

                                                .pformstrip:only-child {
                                                    margin-bottom: 0;
                                                    padding: 0;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.code-alerts_settings {
        #ucpcontent {
            .pformstrip:not(:has(input)) {
                color: var(--text-secondary);
                letter-spacing: 0.2em;
                text-transform: uppercase;
                font-weight: 700;
                font-size: var(--text-size-sm);
                font-family: var(--font-sans-narrow);
            }
        }
    }
}
#UserCP:not(.code-alerts_settings),
#Msg:not(.code-04) {
    #ucpcontent {
        .pformstrip:not(:has(input)) {
            @include header(3);
            text-transform: capitalize;
            margin-bottom: var(--space-md);

            & + p,
            & + .tablepad,
            & + .tablebasic {
                background: var(--bg-tertiary);
                border: var(--border-primary);
                padding: var(--space-md);

                &:not(:last-child) {
                    margin-bottom: var(--space-xl);
                }
            }
        }
    }
}

//Specific Pages
//Edit Profile
#UserCP.code-01 {
    #ucpcontent {
        form {
            & > .pformstrip {
                display: none;
            }
            #field-birthday,
            #field-website,
            #field-location,
            #field-interests {
                display: none;
            }
            thead {
                &:not(:first-of-type) {
                    margin-top: var(--space-xl);
                }
            }
            tbody {
                display: grid !important;
                gap: var(--space-lg);

                @include mq-up(sm) {
                    grid-template-columns: repeat(6, 1fr);
                }

                tr {
                    margin-bottom: 0 !important;

                    @include mq-up(sm) {
                        grid-column: span 3;
                    }

                    .pformleft {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-sm);
                    }
                }
            }
        }
    }
}
.ucp {
    &--header {
        display: block;

        td {
            display: block;

            .sticky {
                display: flex;
                flex-direction: column;
                gap: var(--space-lg);
            }
        }
    }
    &--header-title {
        @include header(3);
    }
    &--description {
        width: 100%;
        background: var(--bg-tertiary);
        border: var(--border-primary);
        padding: var(--space-md);
        text-align: justify;
        font-size: calc(var(--text-size-md) + 1px);
        line-height: 200%;

        @include mq-up(xxs) {
            padding: var(--space-lg);
        }

        .scroll {
            max-height: 200px;
        }
    }
    &--section {
        background: var(--bg-tertiary);
        border: var(--border-primary);
        padding: var(--space-md);

        label {
            @include header(5);

            .required {
                position: absolute;
                font-size: 1.4em;
                color: var(--text-accent);
            }
        }
        .pformright {
            display: block;
        }
    }
}

//Edit Avatar
#UserCP.code-24 {
    p {
        text-align: center;
        padding-bottom: var(--space-md);
    }
    #gallery_form {
        display: none;
    }
    .tablepad {
        font-size: 0;

        img {
            max-width: 400px;
            max-height: 400px;
        }
    }
    .tablebasic + .tablebasic {
        display: none !important;

        & + .pformstrip:last-child {
            margin-bottom: 0;
            padding: 0;
        }
    }
}
//Subaccounts
#UserCP.code-54 {
    #ucpcontent {
        & > p:first-of-type {
            margin-bottom: var(--space-md) !important;

            & ~ div > .tableborder {
                &:first-child {
                    background: var(--bg-tertiary);
                    border: var(--border-primary);
                    padding: var(--space-md);
                    margin-bottom: var(--space-xl);
    
                    & ~ br {
                        display: none;
                    }
                }
                &:not(:first-child) {
                    form > table {
                        background: var(--bg-tertiary);
                        border: var(--border-primary);
                        padding: var(--space-md);
                    }
                }
            }
        }

        .tableborder {
            &:first-child {
                table > tbody {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--space-md);
    
                    & > tr {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        margin: 0;
    
                        &:first-child {
                            display: none;
                        }
                        &:last-child {
                            flex: 0 0 100%;
                        }
                        &:nth-child(2):nth-last-child(2) {
                            flex: 0 0 100% !important;
    
                            td:only-child {
                                position: relative !important;
                                width: 100%;
    
                                & > div {
                                    text-align: left !important;
                                }
                            }
                        }
    
                        .input-wrap {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
    
                        &:not(:first-child):not(:last-child) {
                            flex: 0 0 100%;
                            padding: var(--space-sm);
            
                            @include mq-up(sm) {
                                flex: 0 0 calc(50% - (var(--space-md) / 2));
                            }
    
                            @include mq-up(md) {
                                flex: 0 0 calc((100% / 3) - (var(--space-md) * 2 / 3));
                            }
    
                            & > td {
                                margin: 0;
                                padding: 0 0 0 calc(var(--space-sm) + 20px);
                                text-align: left;
                                @include info(var(--text-primary), narrow);
    
                                &:first-child {
                                    margin: -3.5px 0 -5px;
                                    @include header(7);
                                    font-size: calc(var(--text-size-md) + 1px);

                                    a {
                                        color: var(--text-secondary);
                                    }
                                }
                                
                                &:last-child {
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
            }
            &:not(:first-child) {
                tr {
                    margin-bottom: 0;
                    margin-top: var(--space-md);
                }
                .pformleft {
                    line-height: 160%;
                    text-align: left;
                    display: block;
                    max-width: max-content;
                    @include header(5);
                }
            }
        }
    }
}
//Edit Username
#UserCP.code-52 {
    .row2 {
        background: var(--bg-tertiary);
        border: var(--border-primary);
        padding: var(--space-md);

        & + table {
            background: var(--bg-tertiary);
            border: var(--border-primary);
            padding: var(--space-md);
            margin-top: var(--space-md);

            tr:last-child {
                margin-bottom: 0 !important;
            }
            
            .pformleft {
                line-height: 160%;
                text-align: left;
                display: block;
                max-width: max-content;
                @include header(5);
            }
        }
    }
}
//Edit Password & Email
#UserCP.code-28,
#UserCP.code-08 {
    form {
        &[name="form1"] {
            & > p {
                margin-bottom: var(--space-md) !important;
            }

            & > table {
                background: var(--bg-tertiary);
                border: var(--border-primary);
                padding: var(--space-md);
                margin-bottom: var(--space-lg);

                & > tbody {
                    & > tr {
                        & > td {
                            strong,
                            b {
                                line-height: 160%;
                                text-align: left;
                                display: block;
                                max-width: max-content;
                                @include header(5);
                            }
                            &:first-child {
                                width: 100%;
                                b {
                                    & ~ br {
                                        display: none;
                                    }
                                }
                            }
                            &:last-child {
                                display: flex;
                                gap: 5px;
                                height: max-content;
    
                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
    
                & + .pformstrip {
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }
    }
}
//Alerts
#UserCP.code-alerts {
    #ucpcontent {
        & > table {
            background: var(--bg-tertiary);
            border: var(--border-primary);
            padding: var(--space-md);
            @include info;

            img {
                display: none;
            }

            &:first-of-type {
                & > tbody {
                    & > tr {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .row1 {
                            text-align: left !important;
                        }
                    }
                }
            }
        }
        & > form {
            & > .tableborder {
                & > table {
                    display: block;

                    & > tbody {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--space-md);
                        background: var(--bg-tertiary);
                        border: var(--border-primary);
                        padding: var(--space-md);
                        margin: var(--space-md) 0;
        
                        & > tr {
                            display: flex;
                            flex-direction: column;
                            gap: 0;
                            margin: 0;
        
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                flex: 0 0 100%;

                                td {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: end;
                                    gap: var(--space-sm);

                                    input {
                                        margin: 0;
                                        line-height: 70%;
                                    }

                                    & > div:first-child {
                                        display: none;
                                    }
                                }
                            }
        
                            &:not(:first-child):not(:last-child) {
                                flex: 0 0 100%;
                                padding: var(--space-sm);

                                @include mq-up(xs) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }
        
                                @include mq-up(sm) {
                                    flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                                }

                                @include mq-up(md) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }
        
                                & > td {
                                    margin: 0;
                                    padding: 0 0 0 calc(var(--space-sm) + 20px);
                                    text-align: left;
            
                                    &:first-child {
                                        display: none;
                                    }
                                    &:nth-child(3) {
                                        @include info(var(--text-primary), detail);
                                    }
                                    &.alert-text {
                                        margin: 1px 0 -4px;
                                        font-size: 0;
                                        line-height: 0;
                                        display: flex;
                                        flex-direction: column;

                                        img {
                                            display: none;
                                        }

                                        a {
                                            &:nth-of-type(3),
                                            &:only-of-type {
                                                order: 1;
                                                @include header(7);
                                                line-height: 160%;
                                            }
                                            &:first-of-type:not(:only-of-type) {
                                                order: 2;
                                                @include info(var(--text-primary), narrow);
                                                line-height: 160%;
                                            }
                                        }
                                    }
                                    
                                    &:last-child {
                                        position: absolute;
                                        left: 0;
                                        padding-left: var(--space-sm);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & ~ div {
                background: var(--bg-tertiary);
                border: var(--border-primary);
                padding: var(--space-md);
                @include info;
            }
        }
        .pagination ~ br {
            display: none;
        }
    }
}
//Forum & Topic Subscriptions
#UserCP.code-50,
#UserCP.code-26 {
    #ucpcontent .tableborder {
        & > table {
            display: block;

            & > tbody {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-md);

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    &:not(.pformstrip) {
                        flex: 0 0 100%;
                        padding: var(--space-sm);
                        gap: 0 var(--space-sm);
                        background: var(--bg-tertiary);
                        border: var(--border-primary);

                        @include mq-up(xs) {
                            flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                        }
                        
                        @include mq-up(sm) {
                            flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                        }
                        
                        @include mq-up(md) {
                            flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                        }

                        & > td {
                            padding: 0;

                            &:first-child {
                                display: none;
                            }
                            &:nth-child(2),
                            &:last-child {
                                flex: 0 0 100%;
                            }
                            &:nth-child(2) {
                                display: flex;
                                flex-direction: column;
                                line-height: 200%;

                                b {
                                    &:first-of-type {
                                        @include header(6);
    
                                        a {
                                            color: var(--text-secondary);
                                        }
                                    }
                                    &:last-of-type {
                                        @include info;

                                        a {
                                            color: var(--text-primary);
                                        }
                                    }
                                }
                                .desc {
                                    @include info;
                                }
    
                                br {
                                    display: none;
                                }
                            }
                            &:nth-child(3),
                            &:nth-child(4) {
                                @include info(var(--text-primary), larger, 700, 0.05em);
                            }
                            &:nth-child(3) {
                                &::after {
                                    content: ' topics'
                                }
                            }
                            &:nth-child(4) {
                                &::after {
                                    content: ' replies'
                                }
                            }
                            &:last-child {
                                @include info(var(--text-primary), detail);
                                line-height: 160%;

                                a { 
                                    color: var(--text-accent);
                                }
                            }
                        }
                    }

                    &:first-child {
                        display: none;
                    }
                    &.pformstrip {
                        flex: 0 0 100%;
                        padding: var(--space-xs) var(--space-sm) !important;
                        @include header(4);

                        a {
                            color: var(--text-secondary);
                        }

                        &:nth-child(2) {
                            border-top: none;
                            margin-top: 0;
                            padding-top: 0 !important;
                        }

                        td {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
#UserCP.code-26 {
    #ucpcontent {
        & > .pformstrip {
            span {
                display: none;
            }
        }
        select[name="datecut"] {
            width: auto;
        }
    }
    .tableborder {
        & > table {
            & > tbody {
                width: 100%;

                & > tr {

                    &:not(.pformstrip) {
                        & > td {
                            &:nth-child(2) {
                                display: block;
                                font-size: 0;
                                line-height: 0;

                                br {
                                    display: initial;
                                }
                                a {
                                    &:first-child {
                                        @include header(7);
                                        line-height: 160%;
                                    }
                                    &:nth-of-type(2) {
                                        display: none;
                                    }
                                }
                                .desc {
                                    line-height: 160%;
                                }
                            }
                            &:nth-child(5) {
                                flex: 0 0 100%;
                                @include info(var(--text-primary), detail);
                                line-height: 160%;

                                a { 
                                    color: var(--text-accent);
                                }
                            }
                            &:not(:last-child) {
                                padding: 0 0 0 calc(var(--space-sm) + 20px) !important;
                            }
                            &:last-child {
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
    }
}
//Board Settings
#UserCP.code-04 {
    #ucpcontent {
        & > form {
            & > table {
                background: var(--bg-tertiary);
                border: var(--border-primary);
                padding: var(--space-md);

                & > tbody {
                    & > tr {
                        & > td {
                            &:first-child {
                                line-height: 160%;
                                max-width: max-content;
                                width: 100%;
                                display: block;
                                max-width: max-content;
                                @include header(5);
                                font-size: var(--text-size-md);

                                b {
                                    & ~ br {
                                        display: none;
                                    }
                                }
                            }
                            &:last-child {
                                display: flex;
                                height: max-content;
                                padding: 0;

                                input {
                                    margin: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .input-wrap {
            i.fa-xmark {
                left: 0;
            }
            & + br {
                display: none;
            }
        }
        .pformstrip:last-child {
            margin-bottom: 0;
            padding: 0;
        }
    }
}
//Alert Settings
#UserCP.code-alerts_settings {
    #ucpcontent {
        table {
            background: var(--bg-tertiary);
            border: var(--border-primary);
            padding: var(--space-md);
    
            .pformstrip {
                padding: 0;
                line-height: 160%;
                margin: var(--space-sm) 0 0;
    
                &:first-child {
                    text-align: left;
                }
            }
            & + .pformstrip {
                text-align: center;
                margin-bottom: 0;
                padding: 0;
    
                &::before {
                    display: none;
                }
            }
        }
        tr {
            &:not(:nth-last-child(4)):not(:first-child) {
                td {
                    padding: 0 0 var(--space-md);
                }
            }
            &:nth-last-child(4) {
                .pformstrip {
                    padding-top: var(--space-md);
                }
            }
        }
        .input-wrap {
            margin: 0 auto;
            width: max-content;
    
            i.fa-xmark {
                left: 0;
            }
        }
    }
}
//Email Settings
#UserCP.code-02 {
    #ucpcontent {
        form {
            & > table {
                border: var(--border-primary);
                background: var(--bg-tertiary);
                padding: var(--space-md);

                & > tbody {
                    & > tr {
                        display: grid !important;
                        grid-template-columns: max-content auto;

                        & > td {
                            &:last-child {
                                b {
                                    @include header(7);
                                    margin-top: -2.5px;

                                    & + br {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pformstrip:last-child {
            margin-bottom: 0;
            padding: 0;
        }
    }
}
//Inbox
#Msg.code-01 {
    #ucpcontent {
        & > table {
            padding: var(--space-md) !important;
            background: var(--bg-tertiary);
            border: var(--border-primary);
            @include info;

            a {
                color: var(--text-primary);
            }

            & > tbody {
                & > tr {
                    & > td {
                        &:first-child {
                            display: none;
                        }
    
                        & > br,
                        & > form {
                            display: none;
                        }
                    }
                }
            }
        }
        & > form {
            & > .tableborder {
                & > table {
                    & > tbody {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--space-md);
                        margin-top: var(--space-md);

                        & > tr {
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                font-size: 0;
                                line-height: 0;
                                flex: 0 0 100% !important;
                                display: flex;
                                justify-content: center;

                                div,
                                select,
                                input:not([name="delete"]) {
                                    display: none;
                                }

                                input[name="delete"] {
                                    font-size: 16px;
                                    line-height: 120%;
                                }
                            }
                            &:not(:first-child):not(:last-child) {
                                display: flex;
                                flex-direction: column;
                                padding: var(--space-md) var(--space-md) var(--space-md) calc(var(--space-sm) + var(--space-md) + 20px);
                                background: var(--bg-tertiary);
                                border: var(--border-primary);
                                flex: 0 0 100%;

                                @include mq-up(xs) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }

                                @include mq-up(sm) {
                                    flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                                }

                                @include mq-up(md) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }
                                
                                &:nth-child(2) {
                                    padding-top: var(--space-md);
                                }
    
                                & > td {
                                    padding: 0;
    
                                    &:first-child {
                                        @include info(var(--text-primary), xs, 900, 0.2em);
                                        text-align: left;
                                        line-height: 100%;
                                    }
                                    &:nth-child(2) {
                                        @include header(7);

                                        a {
                                            color: var(--text-secondary);
                                        }
                                    }
                                    &:nth-child(3) {
                                        font-size: 0;
                                        line-height: 0;
                                        margin: var(--space-xs) 0 0;
    
                                        a {
                                            &:first-of-type {
                                                @include info;
    
                                                &::before {
                                                    content: 'Sent from ';
                                                    color: var(--text-primary);
                                                    width: auto;
                                                    position: relative;
                                                    bottom: auto;
                                                    left: auto;
                                                    height: auto;
                                                    background: none;
                                                }
                                            }
                                            &:last-of-type {
                                                display: none;
                                            }
                                        }
                                    }
                                    &:nth-child(4) {
                                        @include info(var(--text-primary), detail);
                                    }
                                    &:last-child {
                                        position: absolute;
                                        top: var(--space-md);
                                        left: var(--space-sm);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Send Message
#Msg.code-04 {
    form {
        & > table {
            & > tbody {
                & > tr {
                    margin-bottom: var(--space-md);

                    .pformstrip {
                        text-align: left;
                    }
                    &:first-child {
                        margin-bottom: var(--space-md) !important;

                        .pformstrip {
                            @include header(5);
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-last-child(3),
                    &#code-buttons-header,
                    &#code-buttons {
                        display: none !important;
                    }
                
                    &:nth-child(3) {
                        .pformleft {
                            display: none;
                        }
                        .pformright {
                            grid-column: 1 / -1;
                            padding: 0;
                        }
                    }
                    &:nth-child(7) {
                        grid-template-columns: 100%;
                        gap: 0;

                        .pformleft {
                            border: none;
                            padding: 0;

                            b {
                                @include header(5);
                            }
                        }
                        .pformright {
                            padding: 0;
                        }
                    }
                    &#enter-your-post-header {
                        @include header(5);
                    }
                    &:nth-last-child(2) {
                        .pformleft {
                            display: none;
                        }
                        .pformright {
                            grid-column: 1 / -1;
                            padding: 0;
                            justify-content: center;

                            br {
                                display: none;
                            }
                        }
                    }

                    &#code-buttons {
                        display: block;

                        .pformleft {
                            display: none;
                        }

                        .pformright {
                            font-size: 0;
                            line-height: 0;
                            padding: 0;

                            & > input,
                            & > br {
                                display: none;
                            }

                            #bbcode-buttons {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 5px;

                                input,
                                select {
                                    width: max-content;
                                    max-width: max-content;
                                    height: 26px !important;
                                    border: var(--border-primary) !important;
                                    font-size: var(--size-xs) !important;
                                    cursor: pointer !important;
                                    transition: var(--transition-standard);
                                    background: var(--bg-accent-low) !important;
                                    letter-spacing: var(--leading-standard);

                                    &:hover {
                                        background: var(--bg-accent) !important;
                                    }

                                    option {
                                        font-size: var(--size-md);
                                        letter-spacing: 0;
                                    }
                                }

                                & > a,
                                & > br {
                                    display: none;
                                }
                            }
                        }
                    }

                    &#enter-your-post-header + tr {
                        display: block;

                        & > td {
                            display: block;

                            &.pformleft {
                                display: none;
                            }
                            &.pformright {
                                padding: 0;
                            }

                            textarea {
                                width: 100%;
                                height: 400px;
                                box-sizing: border-box;
                            }
                        }
                    }

                    &:last-child {
                        .pformstrip {
                            padding-top: var(--space-lg) !important;
                        }
                    }
                }
            }
        }
    }
}
//View Message
#Msg.code-03 {
    #ucpcontent {
        & > .pformstrip {
            & ~ div:not(.tableborder) {
                background: var(--bg-tertiary);
                border: var(--border-primary);
                padding: var(--space-md);
                @include info;

                a {
                    color: var(--text-primary);
                }
            }
        }
        & > .tableborder {
            & + div {
                display: none;
            }
            .titlemedium {
                display: none;
            }
        }
        .msg-normal > table {
            display: block;
            margin-top: var(--space-md);
    
            @include mq-up(xs) {
                margin-top: var(--space-lg);
            }

            tbody {
                display: flex;
                flex-direction: column;

                tr {
                    &:nth-child(2n + 1) {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-sm);

                        td {
                            padding: 0;
                            width: 100%;

                            &:not(:first-child) {
                                display: flex;
                                gap: var(--space-lg);
                                justify-content: space-between;
                                align-items: center;

                                .postdetails {
                                    @include header(7);
                                }

                                & > * {
                                    float: none !important;
                                }

                                .post-buttons-top {
                                    display: flex;
                                    gap: var(--space-xs);
                                }

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 30px;
                                    height: 30px;
                                    border: var(--border-accent-mid);
                                    color: var(--text-primary);
                                    font-size: 12px;
                                    cursor: pointer;
                                    transition: var(--transition-standard);

                                    &::before {
                                        display: none;
                                    }

                                    &:hover {
                                        background: var(--bg-accent-low);
                                        color: var(--text-secondary);
                                    }
                                }
                            }

                            &:first-child {
                                @include header(4);
                                justify-content: start;

                                a {
                                    color: var(--text-secondary);
                                }
                            }
                        }
                    }

                    &:nth-child(2n) {
                        display: block;
                        padding: var(--space-lg);
                        margin: var(--space-md) 0 var(--space-lg);
                        background: var(--bg-tertiary);
                        border: var(--border-primary);

                        td {
                            display: block;
                            width: 100%;
                            padding: 0;
                            text-align: justify;
                            line-height: 200%;

                            &:first-child {
                                display: none;
                            }
                        }
                        .signature {
                            display: none;
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}