<form id="form-approve" data-type="grid">
    <label>
        <b>Alias</b>
        <span><select id="member" class="clip-members" required></select></span>
    </label>
    <label>
        <b>Character</b>
        <span><select id="character" class="clip-characters" required></select></span>
    </label>
    <label>
        <b>Role</b>
        <span><select id="role" class="clip-roles" required></select></span>
    </label>
    <label>
        <b>Detail</b>
        <span><input type="text" /></span>
    </label>
    <label class="fullWidth">
        <b>Specific Requests</b>
        <i>Visible to staff only; if there is any specific goal you have in mind for your character, or definite no-gos when it comes to staff intervention in the event, please let us know now.</i>
        <u>NO CHARACTERS WILL BE KILLED WITHOUT EXPRESS PERMISSION REGARDLESS.</u>
        <span><textarea id="requests" placeholder="Requests"></textarea></span>
    </label>
    <button type="submit" id="submit">Submit</button>
</form>